<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="../vendor/autoload.php"
>

    <testsuites>
        <testsuite name="syamgot\Validator Test Suite">
            <directory>./syamgot</directory>
        </testsuite>
    </testsuites>

</phpunit>
